@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

* {
  box-sizing: border-box;
}

html,
body,
#root,
:root{
  height: 100%;
  font-family: 'Inter', sans-serif;
}

#root{
  display: flex;
  align-items: center;
  justify-content: center;
}

